.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.ganykla{
  width:90%;
  min-height: 300px;
  background-color: lightgreen;
  border: 2px solid darkgreen;
  display:flex;
  flex-direction: row;
}

.tvartas{
  width: 50%;
  min-height: 300px;
  border: 2px solid darkgreen;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tvartas>h2{
  width:100%;
  color:white;
}

.Karve{
  background-color: brown;
  color: white;
  width: 200px;
  height:100px;
  margin: 20px;
}

.Avynas{
  background-color: wheat;
  color: black;
  width: 200px;
  height:100px;
  margin: 20px;
  border-radius: 50%;
}